* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
    background: #5596f1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container > .card {
    border: 5px solid #000;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    background: #b8ecda;
}

h3, small {
    display: block;
    margin-bottom: 10px;
}

.card > img {
    max-width: 60%;
}

.bookBtn {
    width: 300px;
    display: block;
    margin:  20px auto;
    text-decoration: none;
    padding: 10px 30px;
    background: #9a5705;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #fff;
    text-align: center;
}
